<!DOCTYPE html>
{% extends 'base.html' %}

<html lang="ja">
{% block title %}輪講SNS{% endblock %}

  {% block body %}
    <div class="basic">
        <div class="row">
            <div class="col-3" id="sticky-sidebar">
                <div class="sticky-top">
                    <br><br>
                {% if user.id  %}
                    <nav class="navbar navbar-dark bg-dark">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sns:post' %}">投稿する</a>
                            </li>
                        </ul>
                    </nav>

                    <nav class="navbar navbar-dark bg-dark">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sns:userpage' user.id %}">マイページへ</a>
                            </li>
                        </ul>
                    </nav>

                    <nav class="navbar navbar-dark bg-dark">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sns:logout' %}">ログアウトする</a>
                            </li>
                        </ul>
                    </nav>

                    <p>ログインしました．</p>
                    <p>こんにちは，<a href="{% url 'sns:userpage' user.id %}">{{ user.username }}</a>さん</p>

                {% else %}
                    <nav class="navbar navbar-dark bg-dark">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sns:login' %}">ログインする</a>
                            </li>
                        </ul>
                    </nav>

                    <nav class="navbar navbar-dark bg-dark">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'sns:create_account' %}">アカウントを作成する</a>
                            </li>
                        </ul>
                    </nav>
                {% endif %}
                </div>
            </div>

            <div class="col-9" id="main">
                <br><br><br>
            {% if latest_message_list %}
                {% for message in latest_message_list %}
                    {% if message.parent == null %}
                        <div class="card">
                          <div class="card-body">
                            <p class="card-text"><img src='{{ MEDIA_URL }}{{ message.user.icon_image }}' width=30 height=30>
                                <a href="{% url 'sns:userpage' message.user.id %}">{{ message.user.username }}</a><br>
                                <a href="{% url 'sns:detail' message.user.id message.id %}">{{ message.context | linebreaksbr }}</a>
                            </p>
                          </div>
                          {% if message.image %}
                            <img src='{{ MEDIA_URL }}{{ message.image }}' width=100>
                          {% endif %}
                          <div class="card-body">
                            <p class="card-text"><form method=POST action="{% url 'sns:good' message.user.id message.id %}">
                            <input type="hidden" name="next" value="{{ request.path }}">
                            <button type="SUBMIT">いいね</button>:{{ message.good }}
                            {% csrf_token %}
                           </form>
                            投稿日時:{{ message.pub_date }}</p>
                          </div>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>メッセージがありません</p>
            {% endif %}
            </div>
        </div>
    </div>
  {% endblock %}
</html>